<%- include ("../../partials/header.ejs") %> <%- include
("../../partials/navbar.ejs") %>

<body>
  <div class="container">
    <hr />
    <h2>Pagamentos</h2>
    <div class="card-group">
      <div class="card">
        <a class="btn btn-success" href="/admin/payments/new">Novo Pagamento</a>
      </div>

      <div class="card">
       <select name="category" class="form-control">
          <% categories.forEach((category) => { %>
          <option value="<%= category.id %>"><%= category.title %></option>
          <% }) %>
        </select>
      </div>


      <div class="card">
        <!--Barra de Pesquisa-->
        <form class="form-search">
          <input
            class="form-control"
            type="text"
            name="search"
            id="search"
            placeholder="Pesquisar..."
          />
          <i class="fa fa-search" aria-hidden="true"></i>
        </form>
      </div>
    </div>
    <hr />

    <table data-type="table-menu" class="table table-bordered">
      <thead>
        <tr>
          <th>Fornecedor</th>
          <th>Valor</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="demo">
        <% payments.forEach(payment => { %>
        <tr class="category" href="/<%= payment.slug %>">
          <td><%= payment.fornecedor %></td>
          <td><%= payment.valor %></td>
          <td><%= payment.category.title %></td>
          <td>
            <a
              href="/admin/payments/edit/<%= payment.id %>"
              class="btn btn-warning"
              >Editar</a
            >
            <form
              method="POST"
              action="/payments/delete"
              style="display: inline;"
              onsubmit="confirmarDelecao(event, this)"
            >
              <input type="hidden" name="id" value="<%= payment.id %>" />
              <button class="btn btn-danger">Deletar</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <div class="row">
      <div class="col col-12">
        <a style="float:right" href="/payments/page/2">Next >>></a>
      </div>
      <hr />
    </div>
  </div>
</body>
<%- include ("../../partials/footer.ejs") %>

<script>
  //delete Script
  function confirmarDelecao(event, form) {
    event.preventDefault();
    var decision = confirm("Você quer deletar este Pagamento?");
    if (decision) {
      form.submit();
    }
  }

  //Filter script
  function myFunction() {
    var result = document.getElementById("category").value;
    document.getElementById("demo").innerHTML = result;
  }
  ////////////////////////////
  // search script

  const inputSearch = document.querySelector("#search");
  const tableMenu = document.querySelector("[data-type='table-menu']");

  const trs = Array.from(tableMenu.querySelectorAll("tbody tr"));
  const trsCategory = Array.from(tableMenu.querySelectorAll("tr.category"));

  inputSearch.addEventListener("input", function() {
    const str = this.value;
    if (str) {
      filterData(str);
    } else {
      showAllItems();
    }
  });

  function showAllItems() {
    trs.forEach((tr) => tr.classList.remove("hide"));
  }

  function filterData(str) {
    showAllItems();
    trsCategory.forEach((trCategory) => {
      let found = false;

      for (let i = 0; i < trs.length; i++) {
        let tr = trs[i];
        if (tr.textContent.toLowerCase().includes(str.toLowerCase())) {
          found = true;
          tr.classList.remove("hide");
        } else {
          tr.classList.add("hide");
        }
      }
    });
  }
</script>
