<%- include ("../../partials/header.ejs") %> <%- include
("../../partials/navbar.ejs") %>

<script
  type="text/javascript"
  src="http://code.jquery.com/jquery-1.8.2.min.js"
></script>

<body>
  <div class="container">
    <hr />
    <h2>Pagamentos</h2>
    <div class="card-group">
      <div class="card">
        <a class="btn btn-success" href="/admin/payments/new">Novo Pagamento</a>
      </div>
      <div class="card">
        <select id="filtroColuna_3" class="filtroColuna form-control "></select>
      </div>

      <div class="card">
        <!--Barra de Pesquisa-->
        <form class="form-search">
          <input
            class="form-control"
            type="text"
            name="search"
            id="search"
            placeholder="Pesquisar..."
          />
          <i class="fa fa-search" aria-hidden="true"></i>
        </form>
      </div>
    </div>
    <hr />

    <table id="tab" data-type="table-menu" class="table table-bordered">
      <thead>
        <tr>
          <th>Fornecedor</th>
          <th>Valor</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="demo">
        <% payments.forEach(payment => { %>
        <tr class="pesquisar" href="/<%= payment.slug %>">
          <td><%= payment.fornecedor %></td>
          <td><%= payment.valor %></td>
          <td><%= payment.category.title %></td>
          <td>
            <a
              href="/admin/payments/edit/<%= payment.id %>"
              class="btn btn-warning"
              >Editar</a
            >
            <form
              method="POST"
              action="/payments/delete"
              style="display: inline;"
              onsubmit="confirmarDelecao(event, this)"
            >
              <input type="hidden" name="id" value="<%= payment.id %>" />
              <button class="btn btn-danger">Deletar</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <div class="row">
      <div class="col col-12">
        <a style="float:right" href="/payments/page/2">Next >>></a>
      </div>
      <hr />
    </div>
  </div>
</body>
<%- include ("../../partials/footer.ejs") %>

<script>
  //Filter script

  function AdicionarFiltro(tabela, coluna) {
    var valores = new Array();

    //varrer todas as linhas da tabela recuperando os valores da coluna a ser filtrada. Esses valores são inseridos uma única vez em um vetor valores. Usamos a função indexOf do array para verificar se o valor já foi inserido e, em caso negativo, usamos a função push para inseri-lo na lista.
    $("#" + tabela + " tbody tr").each(function() {
      var txt = $(this)
        .children("td:nth-child(" + coluna + ")")
        .text();
      if (valores.indexOf(txt) < 0) {
        valores.push(txt);
      }
    });

    //usando a instrução for, percorremos o array valores e, para cada item, adicionamos uma tag option no select previamente declarado.
    $("#filtroColuna_" + coluna.toString()).append("<option>TODOS</option>");
    for (elemento in valores) {
      $("#filtroColuna_" + coluna.toString()).append(
        "<option>" + valores[elemento] + "</option>"
      );
    }
    //um tratamento ao evento change do select cujo nome foi definido como filtroColuna_N, onde N é o índice da coluna. Primeiro obtemos o valor selecionado através da função val() da jQuery. Em seguida todas as linhas são tornadas visíveis com o método show().
    $("#filtroColuna_" + coluna.toString()).change(function() {
      var filtro = $(this).val();
      $("#" + tabela + " tbody tr").show();
      //Caso o item selecionado não seja “TODOS”, percorremos todas as linhas da tabela verificando o valor da coluna filtrada. Caso este não seja igual ao valor selecionado, a linha é ocultada com o método hide().
      if (filtro != "TODOS") {
        $("#" + tabela + " tbody tr").each(function() {
          var txt = $(this)
            .children("td:nth-child(" + coluna + ")")
            .text();
          if (txt != filtro) {
            $(this).hide();
          }
        });
      }
    });
  }
  //Tendo definido a função AdicionarFiltro, podemos testá-la passando como parâmetro o nome da tabela, “tab”, e o índice da terceira coluna que, nesse caso inicia a contagem no 1.
  AdicionarFiltro("tab", 3);
</script>

<script>
  //delete Script
  function confirmarDelecao(event, form) {
    event.preventDefault();
    var decision = confirm("Você quer deletar este Pagamento?");
    if (decision) {
      form.submit();
    }
  }

  ////////////////////////////
  // search script

  const inputSearch = document.querySelector("#search");
  const tableMenu = document.querySelector("[data-type='table-menu']");

  const trs = Array.from(tableMenu.querySelectorAll("tbody tr"));
  const trsPesquisar = Array.from(tableMenu.querySelectorAll("tr.pesquisar"));

  inputSearch.addEventListener("input", function() {
    const str = this.value;
    if (str) {
      filterData(str);
    } else {
      showAllItems();
    }
  });

  function showAllItems() {
    trs.forEach((tr) => tr.classList.remove("hide"));
  }

  function filterData(str) {
    showAllItems();
    trsPesquisar.forEach((trPesquisar) => {
      let found = false;

      for (let i = 0; i < trs.length; i++) {
        let tr = trs[i];
        if (tr.textContent.toLowerCase().includes(str.toLowerCase())) {
          found = true;
          tr.classList.remove("hide");
        } else {
          tr.classList.add("hide");
        }
      }
    });
  }
</script>
