<%- include ("../../partials/header.ejs") %> <%- include ("../../partials/navbar.ejs")
%>
<body>
  <div class="container">
    <hr />
    <% result.receipts.rows.forEach(receipt => { %>
    <div class="card">
      <div class="card-header">
        <h2><%= receipt.fornecedor %></h2>
      </div>
      <div class="card-body">
        <a href="/<%= receipt.slug %>" class="btn btn-success">Recebimento</a>
      </div>
    </div>
    <br />
    <% }) %>

    <div class="row">
      <div class="col col-12">
        <% if(result.page > 2) {%>
        <a style="float:left" href="/receipts/page/<%= result.page - 1 %>">
          <<< Prev</a
        >
        <% } else if(result.page == 2) { %>
        <a style="float:left" href="/"> <<< Prev</a>
        <% } %> <% if(result.next) {%>
        <a style="float:right" href="/receipts/page/<%= result.page + 1 %>"
          >Next >>></a
        >
        <% } %>
      </div>
      <hr />
    </div>
    <hr />
  </div>
</body>
<%- include ("../../partials/footer.ejs") %>
